body{
	background-color: #eea028;
}
#container{
	background: #eeeeee;
	margin: 0px auto;
	width: 320px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 3px #000000;
}
a:link{
	color: #f1de3c;
	text-decoration: none;
	padding: 10px;
}
a:visited{
	color: #f1de3c;
}
a:hover{
	color: purple;
	background-color: #cccccc;
	opacity: .6
}
a:active{
	color: lime;
}
header{
	padding: 5px 10px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 10px;
}
nav{
	background-color: purple;
	padding: 10px;
}
footer{
	background-image: url();
	padding: 5px 10px;
	margin-top: 10px;
	text-align: center;
	border-radius: 10px;
}
#mainImg{
	width: 100%;
	height: auto;
}
.floatLeft{
	float: left;
	margin-right: 10px;
	margin-top: 18px;
}
.optionOne{
	background-color: #cccccc;
	padding: 5px 10px;
	margin-bottom: 10px;
}
.floatRight{
	float: right;
	margin-left: 10px;
	margin-top: 18px;
}
a{
	font-size: 14px
}
h1{
	color: #1d428a;
	font-size: 60px
}
h2{
	color: #c8102e;
	font-size: 75px
}
h4{
	color: #1d428a;
	font-size: 20px;
	font-family: 'Courier New', monospace;
}
h3{
	color: #1d428a;
	font-size: 30px;
	font-family: 'Courier New', monospace;
}
p{
	color: #3c3834;
	font-size: 20px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
  color: #1d428a;
}



